body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.content-container {
    margin-top: 30px;
    min-height: 800px;
}

.search-box {
    margin-top: 25px;
    margin-bottom: 25px;
}

.create-button {
    margin-top: 15px;
}

pre {
    background-color: white;
}

.sub-button {
    margin-top: 20px;
}

.data-form {
    margin-top: 20px;
}

.validation {
    color: red;
}