@model Labange.PL.Models.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<a asp-action="Register" asp-controller="Account">Registration</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="data-form">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Email">Input Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Input password</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="sub-button">
            <input type="submit" value="Sign in" class="btn" />
        </div>
    </div>
</form>